@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url('./images/bg-desktop.svg');
    background-position: center center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans';
    padding: 60px 75px;
    height: 100vh;
    color: white;
    font-size: 18px;
}

.container{
    display: flex;
    padding: 40px 0;
}

header img{
    height: 45px;
    width: auto;
}

.illustration{
    flex: 1.2;
}
.illustration img{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.description{
    flex: 0.8;
    padding: 0 40px;
    max-width: 100%;
    height: auto;
}

h1{
    font-family: 'Poppins';
    font-size: 38px;
}

p{
    opacity: 0.8;
}

button{
    height: 55px;
    padding: 0 60px;
    border-radius: 50px;
    font-size: 18px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: hsl(257, 40%, 49%);
    color: white;
    border: 1px solid white;
}

ul {
    list-style-type: none;
    margin-top: 0;
    position: absolute;
    right: 75px;
}

li{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li:hover{
    border: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
    transition: 0.3s;
}

@media screen and (max-width: 760px){

    body{
        background-image: url('./images/bg-mobile.svg');
        text-align: center;
        padding: 20px;
    }

    header{
        text-align: left;
    }

    .container{
        flex-direction: column;
        padding: 20px 0;
    }

    h1{
        font-size: 28px;
    }

    ul{
        position: inherit;
        padding:0;
        width: 100%;
    }

    

}