/* General Syles*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Karla';
    font-size: 16px;
}

header, .humanizing, .different, .call-to-action, footer{
    padding: 0 150px;
}

h1, h2, h3{
    font-family: 'DM Serif Display';
}

.cta-btn{
    text-transform: uppercase;
    border: 1px solid;
    padding: 10px 20px;
    font-weight: 700;
    z-index: 1000;
}

h1{
    font-weight: 400;
    font-size: 65px;
    line-height: 60px;
}

p{
    font-size: 14px;
    font-weight: 400;
}

.cta-btn:hover{
    cursor: pointer;
    color: hsl(256, 26%, 20%);
    background-color: hsl(0, 0%, 98%);
}

.mobile{
    display: none;
}

/* Header */

header{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.right {
    display: flex;
}

nav li{
    color: hsl(273, 4%, 51%);
    text-transform: uppercase;
    font-weight: 700;
}

nav li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: hsl(256, 26%, 20%);
}

nav li, .cta-btn{
    margin-left: 30px;
}

nav span.cta-btn, .left{
    margin-top: auto;
    margin-bottom: auto;
}

nav .cta-btn{
    color: hsl(270, 9%, 17%);
    border-color: hsl(270, 9%, 17%);
}

nav .cta-btn:hover{
    cursor: pointer;
    color: hsl(0, 0%, 98%);
    background-color: hsl(270, 9%, 17%);
}

.mobile, .mobile-nav{
    display: none;
}

/* Humanizing*/

.humanizing{
    display: flex;
    background-color: hsl(256, 26%, 20%);
    height: 600px;
}

.description{
    color: hsl(0, 0%, 98%);
    max-width: 50%;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    z-index: 3;
    /*border-top: 1px solid hsl(0, 0%, 98%);*/
}

.description:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 50px; /* This creates some space between the element and the border. */
    border-top: 1px solid hsl(0, 0%, 98%); /* This creates the border. Replace black with whatever color you want. */
}

.description h1{
    width: 80%;
}

.description p{
    width: 90%;
    margin-bottom: 30px;
    line-height: 20px;
}

.description .cta-btn{
    margin: 0;
}

.illustration img{
    margin-top: 80px;
    max-height: 600px;
    max-width: 100%;

}

.bg-intro{
    position: absolute;
}

.bg-intro.right{
    right: 0;
    height: 550px;
}

.bg-intro.left{
    left:0;
    top:500px;
    height: 450px;
}

/* Different */

.different{
    padding-top: 200px;
}

.different h1:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 12.5%; /* Change this to whatever width you want. */
    padding-top: 80px; /* This creates some space between the element and the border. */
    border-top: 1px solid hsl(216, 30%, 68%); /* This creates the border. Replace black with whatever color you want. */
}

.different h1, h3{
    color: hsl(270, 9%, 17%);
}

h3{
    font-size: 24px;
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.box{
    width: 30%;
}

.box p{
    letter-spacing: 1px;
    line-height: 20px;
    color: hsl(273, 4%, 51%);
}


/* Call to action */
.call-to-action{
    background-color: hsl(256, 26%, 20%);
    margin: 125px 150px;
    display: flex;
    position: relative;
    min-height: 250px;
    align-items: center;
    padding: 0 75px;
    justify-content: space-between;
}

h2, .cta-btn{
    color: hsl(0, 0%, 98%);
}

h2{
    font-size: 50px;
    width: 45%;
}

.call-to-action img {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    max-width: 100%;
}

/* Footer */

footer{
    background-color: hsl(260, 16%, 96%);
    position: relative;
}

.bg-footer{
    position: absolute;
    top:0;
    left: 0;
}

footer .container{
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid hsl(278, 12%, 87%);
}

.insure-logo{
    height: fit-content;
    z-index: 99;
}

.social img{
    margin-left: 8px;
}

.social img:hover{
    cursor: pointer;
    fill: hsl(256, 26%, 20%);
}

footer .container{
    margin-top: 0;
}

footer ul{
    list-style: none;
    text-transform: uppercase;
    line-height: 30px;
    width: 30%;
    padding-inline-start: 0;
    font-weight: 700;
    font-size: 14px;
    color: hsl(256, 26%, 20%);
}

footer li:hover{
    cursor: pointer;
    text-decoration: underline ;
}

.top-li{
    color: hsl(273, 4%, 51%);
    margin-bottom: 30px;
}

/* MOBILE */

@media screen and (max-width:760px){

    header, .humanizing, .different, .call-to-action, footer{
        padding: 0 20px;
    }

    html, body, .humanizing{
        width: 100%;
    }

    .close, .mobile-nav{
        display: none;
    }

    .mobile-nav{
        background-color: hsl(256, 26%, 20%);
    }

    .mobile-nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 16px 0 0 0;
    }

    .mobile-nav li{
        margin-left:-10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .description {
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }

    .description h1, .description p{
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }

    .bg-intro.right.mobile{
        position: absolute;
        height: auto;
        bottom: -250px;
        right: -20px;
        margin: 0;
    }

    .bg-intro.left.mobile{
        display: block;
        position: absolute;
        height: auto;
        top: -30px;
        left: -20px;
        margin: 0;
    }

    h1{
        font-size: 50px;
        text-align: center;
    }

    body{
        width: 100%;
    }

    nav{
        margin: 20px 0;
    }

    .desktop, .description:before{
        display: none;
    }

    .different{
        padding-top: 50px;
    }

    .different h1:before {
        width: 50%; /* Change this to whatever width you want. */
        padding-top: 50px; /* This creates some space between the element and the border. */
        margin: 0 auto;
    }

    .right.mobile, .left.mobile{
        display: flex;
    }

    .illustration.mobile{
        display: block;
    }

    .illustration img{
        margin-top: 0;
        width: 100%;
        height: fit-content;
    }

    .humanizing *{
        margin: 30px 0;
    }

    .humanizing{
        text-align: center;
        height: auto;
    }

    .container{
        flex-direction: column;
    }

    .box{
        width: 100%;
        text-align: center;
    }

    .box.middle{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .call-to-action{
        margin: 50px 20px;
        flex-direction: column;
        padding: 20px;
    }

    h2{
        width: 100%;
        text-align: center;
        line-height: normal;
        font-weight: 400;
        z-index: 500;
    }

    .bg-work.desktop{
        display: none;
    }

    .bg-work.mobile{
        display: block;
        position: absolute;
        z-index: 0;
    }

    .cta-btn{
        margin: 0;
        margin-bottom: 30px;
    }

    .bg-footer.mobile{
        display: block;
        position: absolute;
        z-index: 1;
    }

    footer *{
        text-align: center;
        z-index: 200;
    }

    .container.top .insure-logo{
        width: fit-content;
        margin: 20px auto;
    }

    footer ul{
        width: 100%;
    }

    .mobile-nav .cta-btn{
        color: white;
        border: 1px solid white;
        margin: 5px auto 16px auto;
        display: table;
    }

}