/*  General  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --linear-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border;
    font-family: "Montserrat";
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: var(--very-light-grayish-blue);
}

#bg-top, #bg-bot{
    position: absolute;
}

#bg-top{
    top: 0;
    right: 0;
}

#bg-bot{
    bottom: 0;
    left: 0;
}

/*  Header  */
header{
    margin-top: 60px;
}

h2{
    color: var(--grayish-blue);
    font-size: 1.8em;
    text-align: center;
    position: relative;
    z-index: 30;
}

.toggle {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.toggle span {
    margin: 2px;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: var(--light-grayish-blue);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--linear-gradient);
    -webkit-transition: 0.4s;
    box-shadow: 2px 6px 25px #1e2321;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-image: var(--linear-gradient);
}

input:focus + .slider {
    box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*  Container  */
.container{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    max-width: fit-content;
    justify-content: center;
}

.monthly{
    display: none;
}

.box{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    height: fit-content;
}

.box.left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.box.right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

h1, .trait, .box p{
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    font-size: 1em;
}

h3, .box p{
    color: var(--grayish-blue);;
}

h1{
    font-size: 4em;
    color: var(--dark-grayish-blue);
}

.box p{
    font-size: 0.8em;
}

.trait{
    height: 1px;
    width: 250px;
    background-color: var(--light-grayish-blue);
}

button{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    cursor: pointer;
    width: 250px;
    height: 40px;
    color: white;
    background-image: var(--linear-gradient);
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.box.mid{
    background-image: var(--linear-gradient);
    padding-top: 50px;
    padding-bottom: 50px;
}

.mid h3, .mid h1, .mid p, .mid .trait{
    color: white;
}

.mid button{
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}

button:hover {
    transform: scale(1.2);
  }

.left, .right{
    margin-top: 20px;
}

/*  MOBILE  */

@media only screen and (max-width: 720px) {

.box{
    border-radius: 10px;
}

.mid{
    margin-top: 20px;
}

#bg-bot{
    display: none;
}

}